#login-main {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
}


#direita{
  position: relative;

  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  align-content: center;

}
#esquerda{
  position: relative;
  width: 40%;
  max-width: 400px;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 20px;

  background-color: #2562FF;

  text-align: center;
  align-content: center;
}



.titulos{

	width: 90%;
	padding: 15px;
	display: flex;
	justify-content: space-around;
	align-items: center;

}

#cadastro{
	font-family: "Roboto";
	font-weight: bold;
	color: #2562FF;
	position: absolute;
	padding: 20px;
	cursor: pointer;
	top: 0px;
	right: 0px;
}


#titulo{
	font-family: "Poppins";
	font-style: normal;
  font-weight: bold;
  font-size: 2.5em !important;
	color: #FFFFFF;
}


#empregado{
font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 30px;
text-align: center;

color: #FFFFFF;
}

#elemento{
  position: relative;
	text-align: center;
	font-family: 'Montserrat';
  font-weight: bold;
	color: #EEEEE3;
  width: 100%;
  padding: 0px 20px;
}
#spark{
	position: relative;
	bottom: 0;
	font-family: "Roboto";
	color:#B4B1B1;

}
#username, #pass{
	border-radius: 30px;
	padding:10px;
  width: 250px;
	background-color:#C4C4C4;

}
#username{
	border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}
#pass{
	border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

#login{
	width: 100px;
  height: 30px;
  border-radius: 15px;
  background: rgb(230, 230, 230);

  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1em;
  border: none;
  overflow: hidden;
  transition: all .2s;
}

#login:hover {
  background: #2562FF;
  color: white;
  font-weight: 500;
}

.texto{
  position: relative;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.entrada input {
  text-align: center;
}
