* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
}

button {
  cursor: pointer;
  transition: transform .2s;
}

button:hover {
  transform: scale(1.1);
}
