@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  min-width: 600px;
}

button {
  cursor: pointer;
  transition: transform .2s;
}

button:hover {
  transform: scale(1.1);
}

*::-webkit-scrollbar{
  width: 9px;
}
*::-webkit-scrollbar-track {
  width: 9px !important;
  background: ${colors.secondary};
}
*::-webkit-scrollbar-thumb {
  width: 9px;
  border-radius: 5px;
  background: #0047FF;
}
}
