section {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: -20vh;
}

section * {
  position: relative;
  margin: 0 auto;
}

.options {
  width: 90vw;
  min-width: 500px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin: 10px auto;
  color: white;
  font-family: 'Poppins', sans-serif;

}

.options select{
  background: #0047FF;
  border: 1px solid  #0047FF;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.options input {
  background: none;
  height: 30px;
  min-width: 200px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.20);
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  transition: border .2s;

}

.options input::placeholder {
  color: white;
}

.options input:focus {
  border: 2px solid #0047FF;

}

#customers {
  background: white;
  width: 90vw;
  min-width: 500px;
  border: none;
  overflow: hidden;
  box-shadow: 0px 3px 10px rgba(0, 10, 10, 0.5);

}

#customers thead tr{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  height: 40px;
  background: #0047FF;
  box-shadow: 0px 3px 10px rgba(0, 10, 10, 0.5);
}

#customers tr td {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  height: 30px;
  font-size: 15px;
}

.table-index {
  color: #0047FF !important;
  font-weight: 600;
}
