* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-rendering: geometricPrecision;
}

body {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background: #CECECE;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.checkboxRoot {
  position: relative;
  display: flex;
  min-height: 200px;
  max-height: 285px;
  box-shadow: 0px 5px 10px #CECECE;
}

.checkboxDescribe {
  position: relative;
  min-height: 100%;
  min-width: 200px;
  width: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(230,230,230);
  font-size: 0.9em;
}

.checkboxDescribe p {
  position: relative;
  margin-bottom: -30px;
  font-weight: bold;
  color: #00008b;
}

.describeIcon{
  position: relative;
  width: 200px;
  height: 200px;

}
body ul {
  list-style: none;
  min-width: 150px;
  width: 20vh;
  max-height: 285px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #242424;

}

body ul li {
  display: flex;
  justify-content:space-around;
  align-items: center;
  color: white;
  margin: 6px;

}

.checkContainer  {
  position: relative;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.checkContainer span{
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid;
  border-color: #808080;
  border-radius: 50%;

}

.checkContainer input {
  position: absolute;
  width: 200px;
  left: 0px;
  height: 100%;
  background: transparent;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.checkContainer input:checked ~span{
  opacity: 0;
}
.checkContainer lottie-player {
  display: block;
  position: absolute;
  /*transform: translate(-50%, -50%);*/
  width: 90px;
  height: 90px;
  z-index: 1

}

body ul::-webkit-scrollbar{
  width: 10px;
}

body ul::-webkit-scrollbar-track {
  width: 10px;
  background: rgba(255,255,255, 0.1);
}

body ul::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 5px;
  background: rgba(255,255,255, 0.2)
}